FQ_FILEPATH	READ_GROUP	SAMPLE_NAME	LIBRARY_NAME	PLATFORM_UNIT	PLATFORM
/home/ning/Downloads/I0005_L1_1.fq.gz	I0005_L1	I0005	I0005	HLVFHDSXX.1.I0005	ILLUMINA
/home/ning/Downloads/I0005_L1_2.fq.gz	I0005_L1	I0005	I0005	HLVFHDSXX.1.I0005	ILLUMINA
